body {
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  font-family: "SF Pro Display";
}

::selection {
  background-color: rgba($c-primary, 70%);
  color: #fff;
}

a,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
  transition: 0.15s;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin: 0;
  margin-top: 15px;
}

a,
button {
  &:focus,
  &:active {
    outline: none;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb {
  background-color: $c-primary;
}

.video-wrap {
  position: relative;
  overflow: hidden;
}

.site-wrap {
  overflow: hidden;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  cursor: pointer;
  transition: 0.5s;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }
  &:hover {
    svg {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  &:active {
    svg {
      transform: translate(-50%, -50%);
    }
  }

  .loading & {
    cursor: auto;
    pointer-events: none;
    svg {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  .loaded & {
    pointer-events: none;
    user-select: none;
    opacity: 0;
    // transform: scale(0);
  }
}

/*==============================================================
*												GRID
=============================================================== */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*==============================================================
*												BUTTONS
=============================================================== */
.btn-row {
  display: flex;
  flex-wrap: wrap;
}

.btn,
a.btn,
button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  padding: 15px 20px;
  border: none;
  transition: 0.2s;
  cursor: pointer;

  font-size: 20px;
  font-weight: bold;

  &.btn-primary {
    background-color: $c-primary;
    color: #fff;
    &:hover {
      background-color: lighten($c-primary, 15%);
    }
  }

  &.btn-border {
    border: 2px solid rgba($c-primary, 30%);
    color: $c-primary;
    &:hover {
      background-color: $c-primary;
      color: #fff;
      border-color: $c-primary;
    }
  }

  &.btn-border-fff {
    border: 2px solid #fff;
    color: #fff;
  }
}

.btn:disabled,
a.btn:disabled {
  pointer-events: none !important;
  cursor: auto !important;
}

/*==============================================================
*											    	FONTS
=============================================================== */
.fs-50 {
  font-size: 50px;
}
.fs-30 {
  font-size: 30px;
}
.fs-40 {
  font-size: 40px;
}
.fs-25 {
  font-size: 25px;
}
.fs-20 {
  font-size: 20px;
}
.fs-15 {
  font-size: 15px;
}

.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
.lh-2 {
  line-height: 1.2;
}

.ta-center {
  text-align: center;
}

/*==============================================================
*												COLORS
=============================================================== */
.c-primary {
  color: $c-primary;
}
.c-grey {
  color: #8b8b8b;
}
.c-light {
  color: rgba(255, 255, 255, 0.5);
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-dark {
  color: #3333;
}

.bg-primary {
  background-color: $c-primary;
}
.bg-grey {
  background-color: #f5f5f5;
}
.bg-dark {
  background-color: #111111;
}

/*==============================================================
*												EDITOR CONTET
=============================================================== */
.editor-content {
  p:first-child {
    margin-top: 0;
  }
  p,
  ul,
  ol {
    margin-top: 20px;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:before {
        content: "\2022";
        color: $c-primary;
        font-weight: bold;
        display: inline-block;
        margin-right: 20px;
        width: 10px;
      }
    }
  }
}

/*==============================================================
*												FORMS
=============================================================== */
.input {
  width: 100%;
  border: none;
  &,
  &:focus {
    outline: none;
  }
  padding: 10px 0;
  &::placeholder {
    color: rgba(62, 67, 63, 0.5);
  }
  border-bottom: 1px solid rgba(62, 67, 63, 0.1);

  display: block;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;

  &:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform-origin: center left;
    transition: 0.2s;
    background-color: $c-primary;
    transform: rotateY(90deg);
  }
  &.has-focus {
    &:after {
      transform: none;
    }
  }
}

.input-wrap:not(:last-child) {
  margin-bottom: 20px;
}

.wpcf7-not-valid-tip {
  display: block;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
}

.wpcf7-response-output {
  display: none !important;
}

.submit-btn-row {
  padding-top: 60px;
}

.submit-wrap,
.form-help {
  width: 50%;
}

.submit-wrap {
  padding-right: 15px;
}

button[type="submit"] {
  width: 100%;
}

.form-help {
  @extend .c-grey;
  @extend .fs-15;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

/*==============================================================
*												ACCORDION
=============================================================== */

.accordion-item:not(.active) .accordion-body {
  display: none;
}

.accordion-head {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:last-child {
    border-bottom: 0;
  }
}

.accordion-ico {
  display: block;
  margin-left: auto;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 20px;
  margin-left: auto;
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #000;
  }
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: translateX(-50%);
    transition: 0.2s;
  }
}

.accordion-item.active .accordion-ico:before {
  transform: translateX(-50%) rotateX(90deg);
}

.accordion-body {
  padding-bottom: 30px;
}

.accordion-item.active .accordion-head {
  cursor: auto;
}
